Host=http://localhost:9999/ws/hello/
#PathToFile - path to request file
PathToFile=D:/1/testc.csv
#NumberOfRepeats - number of repeats for requests in file, default is 1
NumberOfRepeats=1
#PollingTime - polling time for async request in millisec, default is 10.
PollingTime=5
#default is 10
NumberOfThreads=10